.ds {
    position: absolute;
    top: 92%;
    left: 85%;
}

.ds .fa-download {
    font-size: 20px;
}

.html {
    color: #FFFFFF;
}

h4 {
    font-family: "Montserrat-Black" !important;
}

.ftco-animate .listbook {
    background-position: unset;
}

.f {
    background-color: #ffa000 !important;
}

.f:hover {
    background-color: #ffa000 !important;
}

.dow {
    width: 25%;
    height: 47px;
    background-color: #ffa000;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    margin-bottom: -150px;
}

.dow:hover {
    /*background-color: #72cfff;*/
}

.nav-tabs .nav-link.active {
    background: #e88d8d;
}

.group-tabs .nav-one {
    /*background: #ceefff;*/
    background: #80c5f9;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #e88d8d;
}

.reminders {
    font-size: 16px;
    font-family: inherit;
    color: #d2803a;
    margin-top: 20px;
}

.reminders li {
    list-style: none;
}

#implementweek1 .close {
    font-size: 2.5rem;
}

.inner {
    border: none;
    background: #ffa000;
    margin-top: 5px;
}

.inner:hover {
    background: #ffa000;
}

.fig {
    background: #ffa000 !important;
}

.fig:hover {
    background: #ffa000 !important;
}

.right-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.inner-d{
    border-radius: 5px;
    background: azure;
    border: 1px solid azure;
    margin-left: 33%;
}
.do-i{
    color: #c5690a !important;
    margin-right: 7px;
}
.right-button3{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}